extends layout

block content
    h1 Sign Up 

    form(method='POST' action='')
        label(for='username') Username
        input#username(name='username', placeholder='username', type='text')
        label(for='password') Password 
        input#password(name='password', type='password')
        button Sign Up